*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: white;
    transition: 0.3s;
}

/* Header */
.kepala{
    background: #F1F5F9;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;

    position: relative;
}

.Judul{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3.5rem;
    color: #0F172A;
    margin: 8px;
}

.toggle-tema{
    border-radius: 15px;
    padding: 5px;
    background: darkgray;

    position: absolute;
    right: 5px;
    top: 5px;
}

.toggle-tema .gambar-toggle{
    padding: 0 3px;
    width: 25px;
    height: auto;
}

/* Masuk Utama */

.judul{
    text-align: center;
    font-size: 2.5rem;
    text-decoration: underline;
    margin-bottom: 10px;
    color: #0F172A ;
}

#app{
    display: flex;
    position: relative;
}

.section-tugas{
    padding: 10px;
    width: 50%;
    height: 78vh;
    border: 2px solid darkgray;

    position: relative;
}

.article-cari{
    margin: 10px 0 20px 0;
    display: flex;
    justify-content: center;
}

.cari-tugas{
    text-align: center;
    width: 80%;
    height: 35px;
    border-radius: 12px;
    padding: 0 5px;
}

.input-tugas{
    width: 45%;
    margin-bottom: 10px;
    border-radius: 12px;
    height: 28px;
    padding: 0 5px;
}

.tambah-tugas{
    padding:3px 5px;
    border-radius: 12px;
    background: linear-gradient(
        135deg,
        white,
        gray
    );
    margin-left: 3px;
}

.filter{
    position: absolute;
    right: 20px;

    padding: 2px 10px;
    border-radius: 8px;
}

.daftar-list{
    display: flex;
    justify-content: center;

    padding: 10px;
    padding-bottom: 15px;

    height: 270px;
    overflow-y: auto;
}

.list-tugas{
    list-style: none;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.li{
    background: white;
    margin: 5px;
    width: 60%;
    height: 50px;
    padding: 10px;
    border-radius: 9px;
    border: 3px solid gray;
    position: relative;
}

.move{
    background: gray;
    transform: scale(1.03);
}

.hapus-tugas{
    position: absolute;
    top: 7px;
    right: 5px;
    padding: 3px 5px;
    font-weight: bold;
}

.hapus-tugas:hover{
    background: gray;
    border-radius: 12px;
}

.hide{
    display: none;
}

/* Kutipan */

.layar2{
    width: 50%;
    height: 78vh;
}

.layar4{
    height: 60%;
} 

.section-catatan{
    padding: 10px;
    border: 1px solid darkgray;
    position: relative;
    height: 100%;
}


.input-catatan {
    padding: 5px;
    width: 80%;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-right: 5px;
}

.tambah-catatan {
    position: absolute;
    top: 72px;

    padding: 5px 3px;
    border-radius: 9px;
    background: linear-gradient(
        135deg,
        white,
        gray
    );
}

.daftar-catatan {
    height: 135px;
    overflow-y: auto;
}

.catatan-item {
    background: lightgray;
    margin: 5px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 12px;

    position: relative;
}

.hapus-catatan {
    position: absolute;
    right: 10px;
    bottom: 5px;
    padding: 3px 5px;
}


/* Widget */

.layar3{
    height: 40%;
    display: flex;
}

/* Kutipan */

.section-article{
    border: 2px solid darkgray;
    width: 50%;
    height: 100%;
    padding: 10px;
    text-align: center;
    overflow-y: auto;

    display: flex;
    align-items: center;
    position: relative;
}

.kutipan-harian{
    background: rgba(125, 125, 125, 0.3);
    border-left: 3px solid skyblue;
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}

.refresh-btn{
    position: absolute;
    top: 5px;
    right: 5px;
}

/* Cuaca */

.section-cuaca{
    width: 50%;
    padding: 10px;
    border: 2px solid darkgray;
}

.input-kota{
    margin: 0 9px 0 3px;
    border-radius: 12px;
    padding: 3px;
    width: 200px;
    margin-bottom: 10px;
}

.tombol-cuaca{
    padding: 0 19px;
    border-radius: 8px;
    background: linear-gradient(
        135deg,
        white,
        gray
    );
}

.info-article{
    display: flex;
    justify-content: center;
}

.info-cuaca{
    background: rgba(125, 125, 125, 0.3);
    padding: 10px 0;
    backdrop-filter: blur(8px);
    border: 1px solid #E2E8F0;
    width: 80%;
    height: 127px;
    
    border-radius: 12px;
    text-align: center;
}


.ikon-cuaca{
    width: 75px;
}

footer{
    background: black;
    color: white;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* dark mmode */

.dark-mode{
    background: #0F172A;
}

.dark-mode .kepala{
    background: #1E293B;
}

.dark-mode .Judul{
    color: #F8FAFC;
}

.dark-mode .judul{
    color: #94A3B8;
}

.dark-mode .cari-tugas{
    background: #1E293B;
    border: 1px solid #475569;
    color: white;
}

.dark-mode .input-tugas{
    background: #1E293B;
    border: 1px solid #475569;
    color: white;
}

/* dark mode catatan */


.dark-mode .input-catatan{
    background: #1E293B;
    border: 1px solid #475569;
    color: white;
}

/* dark mode cuaca */

.dark-mode .input-kota{
    background: #1E293B;
    border: 1px solid #475569;
    color: white;
}

.dark-mode .info-cuaca{
    background: #1E293B;
}

@media (max-width: 768px) {
  #app {
    flex-direction: column;
  }

  .kepala{
    display: block;
    text-align: center;
  }

  .Judul{
    font-size: 2rem;
  }

  .toggle-tema .gambar-toggle{
    padding: 0 3px;
    width: 20px;
    height: auto;
    }

  /* Tugas */
  .layar2{
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .layar3{
    flex-direction: column;
  }

  .section-article, .section-cuaca{
    width: 100%;
  }

  .section-tugas{
    width: 100%;
    height: auto;
  }

  .judul{
    font-size: 1.8rem;
  }

  .daftar-list{
    height: 250px;
  }

  .tambah-catatan{
    top: 55px;
  }
}

